
.activity h1{
    padding-right: 190px;
}
.activity{
    display: grid;
    grid-template-columns: 4fr 1fr; 
    background-color: darkgray; 
  
}

.activities-container h2{
    font-size: 15px;
}
.activities-container p{
    font-size: 10px;
}
