.details{
    width: 240px;
    height: 450px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 2px;
    position: relative;
    background-color: dimgray;
}
.details img{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin: 5px;
    bottom: 10;
}
.details-name {
    font-size: 25px;
    text-align: left;
    margin-left: 15px;
}
.info p{
    text-align: start;
    margin-left: 15px;
}
.info{
    margin: 0 5px;
}
.info p{
    font-size: 15px;
}
.details-name{
    font-family: fantasy;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 9px;
}
.btn{
    width: 100%;
    background-color: #FFE0B3;
    border: none;
    border-radius: 8px 8px 8px 8px;  
    bottom:0;
    margin-right: 50px;
   
}

.btn:hover{
    background-color: orange;
}