.header-part{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 60px;
    margin-right: 150px;
}
.header-part h1{
    color: darkgrey;
    font-size: 30px;
    font-weight:600 ;
    padding-right: 290px;
}
.header-part span{
    color: green;
}
.header-part img{
    width: 10%;

}
.header-part a{
    text-decoration: none;
    justify-content: end;
    margin-left: 20px;
    color: darkslategray;
}

