.header-part{
    height: 80px;
    display: flex;
   padding-left: 150px;
   padding-right: 150px;
}
.header-part h1{
    color: darkslategray;
    font-size: 30px;
    font-weight:600 ;
}
.header-part span{
    color: green;
}
.header-part img{
    width: 10%;

}
.navbar{
    margin-top: 50px;
}
.nav a{
    color: darkslategray;
    text-decoration: none;
    font-size: 20px;
    margin-left: 40px;
    
    
   
}